<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nc7.project00.mapper.AuthMapper">

    <select id="getUserAuthInfo" parameterType="java.lang.String" resultType="com.nc7.project00.vo.AuthVO">
        SELECT password,salt FROM p00_users
        WHERE (username=#{credential} or email=#{credential} or phone=#{credential})
    </select>
</mapper>