<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nc7.project00.mapper.TagMapper">
    <insert id="add" parameterType="com.nc7.project00.entity.Tag">
        INSERT INTO p00_tags(id, tag, add_username)
        VALUES (#{params.id}, #{params.tag}, #{params.addUsername})
    </insert>
</mapper>